player-connection-mode=Listen
player-connection-guid=1293245229
player-connection-debug=0
player-connection-project-name=ToBeNamed
player-connection-ip=10.6.111.36
player-connection-ip=192.168.56.1
player-connection-ip=192.168.17.1
player-connection-ip=192.168.163.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9deb9d0bad9e4ea0921c22c565a1e879
